table th, table td
{
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
}

td, th {
  text-align: center;
  vertical-align: middle !important;
}

.form-control.tool {
  width: 95% !important;
  margin: auto;
}

table input[type=number] {
  width: 75px;
}

.tool-value {
  padding-left:20px; 
  display: block; 
  line-height: 40px;
}

.selected
{
    background-color: #666;
    color: #fff;
}

table .w-10 { width:10%; }
table .w-15 { width:15%; }
table .w-20 { width:20%; }
table .w-30 { width:30%; }

button {
  margin: auto;
}